channels==3.0.3
channels-redis==3.2.0
chatterbot==1.1.0
chatterbot-corpus==1.2.0
Django==3.1.5
django-cors-headers==3.6.0
django-eav2==0.13.0
django-extra-fields==3.0.2
django-filter==2.4.0
django-phonenumber-field==5.0.0
django-webpush==0.3.3
djangorestframework==3.12.2
phonenumbers==8.12.15
Pillow==8.1.0
Pyrebase==3.0.27
stripe==2.55.1
channels==3.0.3
channels-redis==3.2.0
chatterbot==1.1.0
chatterbot-corpus==1.2.0
Django==3.1.5
django-cors-headers==3.6.0
django-eav2==0.13.0
django-extra-fields==3.0.2
django-filter==2.4.0
django-phonenumber-field==5.0.0
django-webpush==0.3.3
djangorestframework==3.12.2
phonenumbers==8.12.15
Pillow==8.1.0
Pyrebase==3.0.27
stripe==2.55.1
redis==3.5.3